.image-header {
    background-color: #f8f9fa; /* Light gray background, adjust the color as needed */
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #dee2e6; /* Light border for separation, adjust as needed */
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    height: 75px; /* Adjust as needed */
}

/* Style for the header buttons table */
.header-buttons-table {
    width: 100%;
    border-collapse: collapse; /* Remove any default table spacing */
}

.header-buttons-table td {
    padding: 5px; /* Adjust padding as needed */
}

.speak-to-agent-cell {
    text-align: left; /* Aligns the 'Speak to an Agent' button to the left */
}

.hamburger-menu-cell {
    text-align: right; /* Aligns the hamburger menu button to the right */
}

/* Hamburger Menu Button */
.hamburger-menu-button {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 40px; /* Increased width */
    height: 40px; /* Increased height */
    margin-right: 15px; /* Space from the right edge */
}

.hamburger-menu-button img {
    width: 100%;
    height: auto;
}

/* Hamburger Menu Content */
.hamburger-menu-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
}

.hamburger-menu-content.open {
    display: block;
}

.hamburger-menu-content a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .header-logo img {
        height: 50px; /* Adjust for smaller screens */
    }

    .header-container {
        justify-content: space-between;
    }

    .header-right {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .hamburger-menu-button {
        margin-right: 10px; /* Adjust margin for mobile */
    }
}